<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bitcoin</string>
		<key>price</key>
		<real>41386.7</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Doge</string>
		<key>price</key>
		<real>0.13</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Etherium</string>
		<key>price</key>
		<real>2955.02</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tether</string>
		<key>price</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Litecoin</string>
		<key>price</key>
		<real>107.29</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Binance</string>
		<key>price</key>
		<real>409.49</real>
	</dict>
	<dict>
		<key>name</key>
		<string>XRP</string>
		<key>price</key>
		<real>0.7692</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cardano</string>
		<key>price</key>
		<real>0.87</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Solana</string>
		<key>price</key>
		<real>92.01000000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Polkadot</string>
		<key>price</key>
		<real>17.83</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Shiba Inu</string>
		<key>price</key>
		<real>0.002</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Polygon</string>
		<key>price</key>
		<real>1.65</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dai</string>
		<key>price</key>
		<real>1.01</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Litecoin</string>
		<key>price</key>
		<real>107.29</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Uni</string>
		<key>price</key>
		<real>9.76</real>
	</dict>
	<dict>
		<key>name</key>
		<string>SushiSwap</string>
		<key>price</key>
		<real>3.37</real>
	</dict>
</array>
</plist>
